#moda {
 	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}
#clos {
	float: right;
	font-size: 28px;
	font-weight: bold;
	color: black;
}
#clos:hover
#clos:focus {
	text-decoration: none;
	color: blue;
	cursor: pointer;
}
.control-label {
	color: white;
}